<rss version="2.0">
    <channel>
        <title>Свежие новости города Александров</title>
        <link>https://nash-aleksandrov.ru/novosti</link>
        <language>ru</language>
        <description>Наш Александоров</description>
        <item>
            <title>Выявлен крупный канал незаконной миграции.</title>
            <link>https://nash-aleksandrov.ru/novosti/vyyavlen-krupnyy-kanal-nezakonnoy-migratsii-2401</link>
            <description>ФСБ обнаружила крупный канал незаконной миграции: в Александровском районе задержаны более 100 обитателей «миграционных гаражей»

                Управление ФСБ по Владимирской области во взаимодействии с полицией выявили крупный канал незаконной миграции

                фото...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vyyavlen-krupnyy-kanal-nezakonnoy-migratsii-2401</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/b5/b5eeb7f465637aeee2493a158bff89ba_872_365.jpeg" type="image/jpeg" length="129487"/>
            <pubDate>Fri, 16 Aug 2019 17:24:36 +0300</pubDate>
        </item>
        <item>
            <title>Сергей Глазьев станет министром по интеграции и макроэкономике ЕЭК</title>
            <link>https://nash-aleksandrov.ru/novosti/sergey-glazev-stanet-ministrom-po-integratsii-i-makroekonomike-eek-2400</link>
            <description>Советник президента России Сергей Глазьев сменит Татьяну Валовую на посту министра ЕЭК

                Его кандидатуру представят на утверждение глав государств Евразийского союза 1 октября

                МОСКВА, 16 августа. /ТАСС/. Советник президента РФ Сергей Глазьев смен...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sergey-glazev-stanet-ministrom-po-integratsii-i-makroekonomike-eek-2400</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d5/d526d87662c95fc6867cd98d3280ddc8_291_580.jpeg" type="image/jpeg" length="60882"/>
            <pubDate>Fri, 16 Aug 2019 17:11:13 +0300</pubDate>
        </item>
    </channel>
</rss>