<rss version="2.0">
    <channel>
        <title>Свежие новости города Александров</title>
        <link>https://nash-aleksandrov.ru/novosti</link>
        <language>ru</language>
        <description>Наш Александоров</description>
        <item>
            <title>Выявлен крупный канал незаконной миграции.</title>
            <link>https://nash-aleksandrov.ru/novosti/vyyavlen-krupnyy-kanal-nezakonnoy-migratsii-2401</link>
            <description>ФСБ обнаружила крупный канал незаконной миграции: в Александровском районе задержаны более 100 обитателей «миграционных гаражей»

                Управление ФСБ по Владимирской области во взаимодействии с полицией выявили крупный канал незаконной миграции

                фото...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vyyavlen-krupnyy-kanal-nezakonnoy-migratsii-2401</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/b5/b5eeb7f465637aeee2493a158bff89ba_872_365.jpeg" type="image/jpeg" length="129487"/>
            <pubDate>Fri, 16 Aug 2019 17:24:36 +0300</pubDate>
        </item>
        <item>
            <title>Сергей Глазьев станет министром по интеграции и макроэкономике ЕЭК</title>
            <link>https://nash-aleksandrov.ru/novosti/sergey-glazev-stanet-ministrom-po-integratsii-i-makroekonomike-eek-2400</link>
            <description>Советник президента России Сергей Глазьев сменит Татьяну Валовую на посту министра ЕЭК

                Его кандидатуру представят на утверждение глав государств Евразийского союза 1 октября

                МОСКВА, 16 августа. /ТАСС/. Советник президента РФ Сергей Глазьев смен...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sergey-glazev-stanet-ministrom-po-integratsii-i-makroekonomike-eek-2400</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d5/d526d87662c95fc6867cd98d3280ddc8_291_580.jpeg" type="image/jpeg" length="60882"/>
            <pubDate>Fri, 16 Aug 2019 17:11:13 +0300</pubDate>
        </item>
        <item>
            <title>ООО «ГАРАНТ-АТИ» требуется  менеджер по работе с клиентами.</title>
            <link>https://nash-aleksandrov.ru/novosti/ooo-garant-ati-trebuetsya-menedzher-po-rabote-s-klientami-2399</link>
            <description>

                Профессиональные обязанности: работа с юридическими лицами. Продажа ИТ. Презентация продукта, ведение переговоров, заключение договоров. Холодные звонки. Обучение.
                Оформление по ТК. Испытательный срок. Работа в офисе.
                График работы 5/2. Требова...</description>
            <guid>https://nash-aleksandrov.ru/novosti/ooo-garant-ati-trebuetsya-menedzher-po-rabote-s-klientami-2399</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Бизнес</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/ce/ced19be3144f7c2b68ac1c45245377e5_11_108.jpeg" type="image/jpeg" length="9050"/>
            <pubDate>Fri, 16 Aug 2019 16:54:41 +0300</pubDate>
        </item>
        <item>
            <title>Подозревается в фиктивной постановки на учет иностранного гражданина.</title>
            <link>https://nash-aleksandrov.ru/novosti/podozrevaetsya-v-fiktivnoy-postanovki-na-uchet-inostrannogo-grazhdanina-2398</link>
            <description>Дознавателями ОМВД России по Александровскому району возбуждено уголовное дело в отношении 46-летнего жителя города Струнино. Мужчина подозревается в совершении преступления, предусмотренного ст. 322.3 УК РФ (фиктивная постановка на учет иностранного...</description>
            <guid>https://nash-aleksandrov.ru/novosti/podozrevaetsya-v-fiktivnoy-postanovki-na-uchet-inostrannogo-grazhdanina-2398</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Fri, 16 Aug 2019 16:42:37 +0300</pubDate>
        </item>
        <item>
            <title>Напоминание владельцам велосипедов</title>
            <link>https://nash-aleksandrov.ru/novosti/napominanie-vladeltsam-velosipedov-2397</link>
            <description>Сотрудники полиции напоминают владельцам велосипедов о необходимости внимательного отношения к сохранности своего имущества

                Традиционно летом многие граждане используют для передвижения двухколесные транспортные средства.

                Традиционно летом мног...</description>
            <guid>https://nash-aleksandrov.ru/novosti/napominanie-vladeltsam-velosipedov-2397</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/57/5760b8b9f6fda1ab8e900c18ece34246_432_834.jpeg" type="image/jpeg" length="30637"/>
            <pubDate>Fri, 16 Aug 2019 15:54:45 +0300</pubDate>
        </item>
        <item>
            <title>Смотрите кто пришел в МУП "Александровские тепловые системы". Новый директор-Ефимов Н.Н.</title>
            <link>https://nash-aleksandrov.ru/novosti/smotrite-kto-prishel-v-mup-aleksandrovskie-teplovye-sistemy-novyy-direktor-efimov-nn-2396</link>
            <description> Совсем недавно глава Администрации Александровского района А.Н. Дудоров освободил от занимаемой должности директора МУП "Александровские тепловые системы" Матвеева Н.А.

                На его место  назначен специалист из Одинцовского района Московской области,...</description>
            <guid>https://nash-aleksandrov.ru/novosti/smotrite-kto-prishel-v-mup-aleksandrovskie-teplovye-sistemy-novyy-direktor-efimov-nn-2396</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/49/49abd2c167961ff0c03dccf370eedf49_160_499.jpeg" type="image/jpeg" length="119558"/>
            <pubDate>Fri, 16 Aug 2019 15:27:48 +0300</pubDate>
        </item>
        <item>
            <title>Узнай свой ВИЧ - статус!</title>
            <link>https://nash-aleksandrov.ru/novosti/uznay-svoy-vich-status-2395</link>
            <description>ВНИМАНИЕ! 
                Сегодня 16 августа около ДК Юбилейного до 18:00 стоит машина, в которой можно пройти тестирование на ВИЧ и узнать свой ВИЧ - статус. </description>
            <guid>https://nash-aleksandrov.ru/novosti/uznay-svoy-vich-status-2395</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/31/3126701bb6dd4cae07642a3b47a51fe3_371_989.jpeg" type="image/jpeg" length="133760"/>
            <pubDate>Fri, 16 Aug 2019 14:10:08 +0300</pubDate>
        </item>
        <item>
            <title>В ОМВД России по Александровскому району приглашаем на вольнонаемную должность</title>
            <link>https://nash-aleksandrov.ru/novosti/v-omvd-rossii-po-aleksandrovskomu-rayonu-priglashaem-na-volnonaemnuyu-dolzhnost-2394</link>
            <description>Инспектор отдела по вопросам миграции ОМВД России по Александровскому району

                Инспектор миграционного пункта (дислокация г. Струнино) ОМВД России по Александровскому району

                Инспектор группы кадров отделения по работе с личным составом ОМВД Росси...</description>
            <guid>https://nash-aleksandrov.ru/novosti/v-omvd-rossii-po-aleksandrovskomu-rayonu-priglashaem-na-volnonaemnuyu-dolzhnost-2394</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Fri, 16 Aug 2019 13:14:05 +0300</pubDate>
        </item>
        <item>
            <title>Регистрация на сайте Госуслуг через МФЦ.</title>
            <link>https://nash-aleksandrov.ru/novosti/registratsiya-na-sayte-gosuslug-cherez-mfts-2393</link>
            <description>
                Теперь каждый гражданин сможет получить бесплатно доступ ко всем опциям портала Госуслуг при помощи МФЦ, зарегистрировавшись через них или посетив их при наличии регистрации и доступа только к справочным сервисам. Гражданину для регистрации через М...</description>
            <guid>https://nash-aleksandrov.ru/novosti/registratsiya-na-sayte-gosuslug-cherez-mfts-2393</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/82/82e3882527c4bd88ffde8fe5aa9c881a_938_35.jpeg" type="image/jpeg" length="107896"/>
            <pubDate>Thu, 15 Aug 2019 11:23:51 +0300</pubDate>
        </item>
        <item>
            <title>Задержан за незаконный оборот наркотиков</title>
            <link>https://nash-aleksandrov.ru/novosti/zaderzhan-za-nezakonnyy-oborot-narkotikov-2391</link>
            <description>Сотрудниками отдела по контролю за оборотом наркотиков ОМВД России по Александровскому району в ходе проведения оперативных мероприятий задержан 31-летний местный житель, подозреваемый в причастности к деятельности, связанной с незаконным оборотом на...</description>
            <guid>https://nash-aleksandrov.ru/novosti/zaderzhan-za-nezakonnyy-oborot-narkotikov-2391</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/58/58eff70b83b209e133842dcfd571d46d_742_514.jpeg" type="image/jpeg" length="492662"/>
            <pubDate>Thu, 15 Aug 2019 11:01:33 +0300</pubDate>
        </item>
        <item>
            <title>Госавтоинспекция информирует</title>
            <link>https://nash-aleksandrov.ru/novosti/gosavtoinspektsiya-informiruet-2390</link>
            <description> 

                В целях экономии Вашего времени, наиболее быстрого и комфортного обслуживания при обращении в Госавтоинспекцию по вопросам регистрации АМТС, выдачи водительских удостоверений, а так же выдачи свидетельства о допуске транспортных средств к перево...</description>
            <guid>https://nash-aleksandrov.ru/novosti/gosavtoinspektsiya-informiruet-2390</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Thu, 15 Aug 2019 10:51:13 +0300</pubDate>
        </item>
        <item>
            <title>Сипягина "заказали" Караулову?</title>
            <link>https://nash-aleksandrov.ru/novosti/sipyagina-zakazali-karaulovu-2389</link>
            <description> 

                Похоже, "супостаты" пустили в бой тяжелую артиллерию: звездного [где-то в 90-х] журналиста Андрея Караулова

                Атаки из разных окопов на губернатора Владимира Сипягина продолжаются. Но поскольку к пасквилям против главы региона со стороны "лже-н...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sipyagina-zakazali-karaulovu-2389</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/e7/e7d40fd00af07d43bd807899b3e1cbfb_541_948.jpeg" type="image/jpeg" length="51942"/>
            <pubDate>Thu, 15 Aug 2019 10:40:00 +0300</pubDate>
        </item>
        <item>
            <title>Движение "Голос" помогает сделать выборы честними.</title>
            <link>https://nash-aleksandrov.ru/novosti/dvizhenie-golos-pomogaet-sdelat-vybory-chestnimi-2388</link>
            <description>«Голос» приглашает наблюдателей

                ￼Владимирское отделение девижения в защиту прав избирателей «Голос» к предстоящему единому дню голосования 8 сентября набирает наблюдателей и организует обучающие семинары.

                Как сообщила координатор Владимирского...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dvizhenie-golos-pomogaet-sdelat-vybory-chestnimi-2388</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/bd/bda90fe8a50581e0820560dbc0ed5ed6_356_79.jpeg" type="image/jpeg" length="11885"/>
            <pubDate>Thu, 15 Aug 2019 10:26:42 +0300</pubDate>
        </item>
        <item>
            <title>Росреестр проводит прямую телефонную линию для жителей</title>
            <link>https://nash-aleksandrov.ru/novosti/rosreestr-provodit-pryamuyu-telefonnuyu-liniyu-dlya-zhiteley-2387</link>
            <description>Информация от росреестра

                Прямая телефонная линия для жителей региона на тему: «Постановка на государственный кадастровый учет и государственная регистрация права собственности на жилой дом»

                Управление Росреестра по Владимирской области информир...</description>
            <guid>https://nash-aleksandrov.ru/novosti/rosreestr-provodit-pryamuyu-telefonnuyu-liniyu-dlya-zhiteley-2387</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/c2/c23dcf882f83927c68f56f3156043705_35_495.jpeg" type="image/jpeg" length="62517"/>
            <pubDate>Thu, 15 Aug 2019 10:21:02 +0300</pubDate>
        </item>
        <item>
            <title>Сотрудникам ООО "ЩИТ"  благодарность от полицейских Александровского района</title>
            <link>https://nash-aleksandrov.ru/novosti/sotrudnikam-ooo-shchit-blagodarnost-ot-politseyskikh-aleksandrovskogo-rayona-2386</link>
            <description>В ОМВД России по Александровскому району состоялась церемония, в ходе которой полицейские вручили благодарность сотрудникам одного из охранных предприятий города, оказавшим содействие в задержании подозреваемого в совершении преступления.

                26 мая т...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sotrudnikam-ooo-shchit-blagodarnost-ot-politseyskikh-aleksandrovskogo-rayona-2386</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/14/14fe1578a69e4c953cd914af73af3eef_652_560.jpeg" type="image/jpeg" length="476054"/>
            <pubDate>Thu, 15 Aug 2019 10:08:57 +0300</pubDate>
        </item>
        <item>
            <title>При столкновении с лосем автомобиль перевернулся</title>
            <link>https://nash-aleksandrov.ru/novosti/pri-stolknovenii-s-losem-avtomobil-perevernulsya-2385</link>
            <description>На кольчугинской дороге автомобиль вылетел в кювет после столкновения с лосем

                В Киржачском районе Владимирской области при столкновении легкового автомобиля с лосем пострадали четыре человека

                Ранним утром 14 августа в Киржачском районе Владимир...</description>
            <guid>https://nash-aleksandrov.ru/novosti/pri-stolknovenii-s-losem-avtomobil-perevernulsya-2385</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/49/4979db3d74c6fe3389da48fafdc7e228_743_676.jpeg" type="image/jpeg" length="374656"/>
            <pubDate>Wed, 14 Aug 2019 18:57:12 +0300</pubDate>
        </item>
        <item>
            <title>Совет избирателей приглашает на митинг!</title>
            <link>https://nash-aleksandrov.ru/novosti/sovet-izbirateley-priglashaet-na-miting-2384</link>
            <description>Совет избирателей Александровского района (СИАР) 18 августа (воскресенье), приглашает всех жителей на митинг.

                Явка соратникам, истинным патриотам России и неравнодушным горожанам, обязательна!</description>
            <guid>https://nash-aleksandrov.ru/novosti/sovet-izbirateley-priglashaet-na-miting-2384</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/4b/4b157b53ec81492b72c27f5e4ac27930_182_399.jpeg" type="image/jpeg" length="250222"/>
            <pubDate>Wed, 14 Aug 2019 18:15:27 +0300</pubDate>
        </item>
        <item>
            <title>Организован сбор предложений по названию новых улиц в Александрове</title>
            <link>https://nash-aleksandrov.ru/novosti/organizovan-sbor-predlozheniy-po-nazvaniyu-novykh-ulits-v-aleksandrove-2383</link>
            <description> 

                ГДЕ ЭТА УЛИЦА, ГДЕ ЭТОТ ДОМ? 
                Чтобы люди не задавались подобными вопросами, когда окажутся в новом микрорайоне города Александров, по инициативе управления архитектуры и строительства, получившей одобрение главы администрации района А.Н. Дудоро...</description>
            <guid>https://nash-aleksandrov.ru/novosti/organizovan-sbor-predlozheniy-po-nazvaniyu-novykh-ulits-v-aleksandrove-2383</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/6a/6a1dbe28283aace095cb90679d932851_117_310.jpeg" type="image/jpeg" length="61658"/>
            <pubDate>Wed, 14 Aug 2019 18:07:18 +0300</pubDate>
        </item>
        <item>
            <title>Под личным контролем.</title>
            <link>https://nash-aleksandrov.ru/novosti/pod-lichnym-kontrolem-2382</link>
            <description>По поручению главы администрации района А.Н. Дудорова произошла отсыпка дороги к многодетным семьям по ул. Чистопольной. 
                Глава администрации г.Карабаново следит за ходом выполнения работ лично.</description>
            <guid>https://nash-aleksandrov.ru/novosti/pod-lichnym-kontrolem-2382</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/64/64c3a0fdd39fe842ac9973216bf57874_871_427.jpeg" type="image/jpeg" length="328734"/>
            <pubDate>Wed, 14 Aug 2019 17:57:01 +0300</pubDate>
        </item>
        <item>
            <title>Внимание розыск!</title>
            <link>https://nash-aleksandrov.ru/novosti/vnimanie-rozysk-2381</link>
            <description> 

                09 августа  2019 года   около  22 час.  10 минут  в Александровском  районе Владимирской  области  на  автодороге Колокша-Кольчугино-Александров - В. Дворики  119 км+770 м. неустановленной водитель,  управляя автомобилем предположительно ВАЗ-211...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vnimanie-rozysk-2381</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Wed, 14 Aug 2019 17:51:07 +0300</pubDate>
        </item>
        <item>
            <title>Симбиоз скульптуры и графики:«Владимир Благовещенский. Елена Ермакова»</title>
            <link>https://nash-aleksandrov.ru/novosti/simbioz-skulptury-i-grafikivladimir-blagoveshchenskiy-elena-ermakova-2380</link>
            <description>Выставка «Владимир Благовещенский. Елена Ермакова»

                4 октября в Александровском художественно-краеведческом музее состоится открытие новой выставки, названной просто и скромно: «Владимир Благовещенский. Елена Ермакова».

                Владимир Благовещенский –...</description>
            <guid>https://nash-aleksandrov.ru/novosti/simbioz-skulptury-i-grafikivladimir-blagoveshchenskiy-elena-ermakova-2380</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/63/63ebf146cef86ba096da1c19a4b086e1_212_186.jpeg" type="image/jpeg" length="312098"/>
            <pubDate>Wed, 14 Aug 2019 17:43:16 +0300</pubDate>
        </item>
        <item>
            <title>Формируется новый состав общественного совета при ОМВД России по Александровскому району.</title>
            <link>https://nash-aleksandrov.ru/novosti/formiruetsya-novyy-sostav-obshchestvennogo-soveta-pri-omvd-rossii-po-aleksandrovskomu-rayonu-2378</link>
            <description>В ноябре 2019 года истекает трехлетний срок полномочий общественного совета при ОМВД России по Александровскому району.

                В соответствии с Приказом Министра внутренних дел № 939 от 15 августа 2011 года "О мерах по реализации Указа Президента Российс...</description>
            <guid>https://nash-aleksandrov.ru/novosti/formiruetsya-novyy-sostav-obshchestvennogo-soveta-pri-omvd-rossii-po-aleksandrovskomu-rayonu-2378</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Wed, 14 Aug 2019 17:34:58 +0300</pubDate>
        </item>
        <item>
            <title>Новый приемный пункт аквачистки "Умные руки" в городе Сергиев Посад.</title>
            <link>https://nash-aleksandrov.ru/novosti/novyy-priemnyy-punkt-akvachistki-umnye-ruki-v-gorode-sergiev-posad-2377</link>
            <description>Прачечная-аквачистка «Умные руки» открыла приемный пункт в Сергиев Посаде по адресу: ул. Дружбы,9А, 2-ой этаж, ТЦ «Гранд парк (микрорайон «Углич»). Пием и выдача заказов осуществляется 2 раза в неделю.

                Тел. 8916-908-46-47</description>
            <guid>https://nash-aleksandrov.ru/novosti/novyy-priemnyy-punkt-akvachistki-umnye-ruki-v-gorode-sergiev-posad-2377</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Бизнес</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d5/d55833ed4849c997010b044fcbd07eef_444_2.jpeg" type="image/jpeg" length="374100"/>
            <pubDate>Wed, 14 Aug 2019 17:29:39 +0300</pubDate>
        </item>
        <item>
            <title>Будьте бдительны! Не поддавайтесь на уловки мошенников!</title>
            <link>https://nash-aleksandrov.ru/novosti/budte-bditelny-ne-poddavaytes-na-ulovki-moshennikov-2376</link>
            <description>ОМВД России по Александровскому району предупреждает!

                Будьте бдительны! Не поддавайтесь на уловки мошенников!

                Несмотря на предпринимаемые профилактические меры, в дежурную часть ОМВД продолжают поступать заявления о мошенничестве:

                Мошенничес...</description>
            <guid>https://nash-aleksandrov.ru/novosti/budte-bditelny-ne-poddavaytes-na-ulovki-moshennikov-2376</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_533_601.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Wed, 14 Aug 2019 17:24:45 +0300</pubDate>
        </item>
        <item>
            <title>«Свет далёких звёзд» откроется 23 августа в Александровском художественно-краеведческом музее.</title>
            <link>https://nash-aleksandrov.ru/novosti/svet-dalekikh-zvezd-otkroetsya-23-avgusta-v-aleksandrovskom-khudozhestvenno-kraevedcheskom-muzee-2375</link>
            <description>«Свет далёких звёзд»

                Выставка, приуроченная к празднованию Дня города Александрова, откроется 23 августа в Александровском художественно-краеведческом музее. Она организована в память о мастерах, уже упокоившихся в мире ином. Их работы, как и сам...</description>
            <guid>https://nash-aleksandrov.ru/novosti/svet-dalekikh-zvezd-otkroetsya-23-avgusta-v-aleksandrovskom-khudozhestvenno-kraevedcheskom-muzee-2375</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/ee/eeaf0433e7d2cd4bf59fbedf57709edd_596_334.jpeg" type="image/jpeg" length="147310"/>
            <pubDate>Wed, 14 Aug 2019 13:26:03 +0300</pubDate>
        </item>
        <item>
            <title>Новости СИАР.</title>
            <link>https://nash-aleksandrov.ru/novosti/novosti-siar-2374</link>
            <description> 

                Новости от Совета избирателей Александровского района (СИАР)

                                      8 сентября — единый день голосования

                «Немного статистики и по – больше аналитики…»

                         Уважаемые читатели, 2 августа завершился важный процесс избир...</description>
            <guid>https://nash-aleksandrov.ru/novosti/novosti-siar-2374</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/17/1738b78a1388e7f34417dd29e7bbb228_520_756.jpeg" type="image/jpeg" length="153845"/>
            <pubDate>Tue, 13 Aug 2019 17:00:35 +0300</pubDate>
        </item>
        <item>
            <title>А сколько искалеченных судеб простых людей на его совести?</title>
            <link>https://nash-aleksandrov.ru/novosti/a-skolko-iskalechennykh-sudeb-prostykh-lyudey-na-ego-sovesti-2373</link>
            <description>Порошенко покинул Украину вместе с семьей, сообщили СМИ

                 Бывший президент Украины Петр Порошенко отказался от государственной охраны и вместе с семьей выехал с Украины в Турцию, сообщает в понедельник интернет-издание "Украинская правда" со ссылко...</description>
            <guid>https://nash-aleksandrov.ru/novosti/a-skolko-iskalechennykh-sudeb-prostykh-lyudey-na-ego-sovesti-2373</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/a7/a734e7b73951552948a81362401ac0a6_145_123.jpeg" type="image/jpeg" length="32807"/>
            <pubDate>Tue, 13 Aug 2019 16:55:38 +0300</pubDate>
        </item>
        <item>
            <title>Деньги на расселение аварийного жилья.</title>
            <link>https://nash-aleksandrov.ru/novosti/dengi-na-rasselenie-avariynogo-zhilya-2372</link>
            <description>Владимирская область получит более 382 миллионов на расселение аварийного жилья

                Из федерального бюджета во Владимирскую область направят более 382 миллионов рублей, чтобы расселить людей из аварийных домов. Решение об этом принял фонд содействия р...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dengi-na-rasselenie-avariynogo-zhilya-2372</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d2/d28ece1ef9e61b08228ce011b48720ee_487_138.jpeg" type="image/jpeg" length="206629"/>
            <pubDate>Tue, 13 Aug 2019 13:37:28 +0300</pubDate>
        </item>
        <item>
            <title>О временном отключении газа 20 и 27 августа.</title>
            <link>https://nash-aleksandrov.ru/novosti/o-vremennom-otklyuchenii-gaza-20-i-27-avgusta-2371</link>
            <description>Информация об отключениях газа

                В связи с проведением работ Филиалом АО «Газпром газораспределение Владимир» в г. Александрове по техническому перевооружению ГВД от ул. Данилова до ШК №21 на ул. Гагарина, участка ГВД на ул. Красный переулок, будет...</description>
            <guid>https://nash-aleksandrov.ru/novosti/o-vremennom-otklyuchenii-gaza-20-i-27-avgusta-2371</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/0b/0bdb5fb720a60e80ce927abd5b0995f5_775_43.png" type="image/png" length="304337"/>
            <pubDate>Tue, 13 Aug 2019 13:33:53 +0300</pubDate>
        </item>
        <item>
            <title>..."Гремячий ключ": водопад здесь возник благодаря молитве Преподобного Сергия.</title>
            <link>https://nash-aleksandrov.ru/novosti/gremyachiy-klyuch-vodopad-zdes-voznik-blagodarya-molitve-prepodobnogo-sergiya-2370</link>
            <description>Специалисты Минэкологии подготовили проект Положения о государственном природном заказнике «Гремучий водопад на р. Вендиге», который расположен в Сергиево-Посадском городском округе. Как сообщил заместитель Председателя Правительства Московской облас...</description>
            <guid>https://nash-aleksandrov.ru/novosti/gremyachiy-klyuch-vodopad-zdes-voznik-blagodarya-molitve-prepodobnogo-sergiya-2370</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/6b/6b47a48a5cfe8e7c25e6da0b33fa2503_828_667.jpeg" type="image/jpeg" length="759184"/>
            <pubDate>Tue, 13 Aug 2019 13:23:51 +0300</pubDate>
        </item>
        <item>
            <title>Идея четырехдневной рабочей недели скорее пугает, чем привлекает</title>
            <link>https://nash-aleksandrov.ru/novosti/ideya-chetyrekhdnevnoy-rabochey-nedeli-skoree-pugaet-chem-privlekaet-2369</link>
            <description>ВЦИОМ выяснил отношение россиян к четырехдневной рабочей неделе

                Почти половина россиян (48%) не поддерживает предложение по возможному сокращению рабочей недели до четырех дней, свидетельствует опрос ВЦИОМ.

                Премьер России Дмитрий Медведев заяви...</description>
            <guid>https://nash-aleksandrov.ru/novosti/ideya-chetyrekhdnevnoy-rabochey-nedeli-skoree-pugaet-chem-privlekaet-2369</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/49/49152b882bcb27ce7267de1e8fc03091_645_739.jpeg" type="image/jpeg" length="71205"/>
            <pubDate>Tue, 13 Aug 2019 13:16:01 +0300</pubDate>
        </item>
        <item>
            <title>Спортивный праздник «Физкульт-ура!» в Балакирево.</title>
            <link>https://nash-aleksandrov.ru/novosti/sportivnyy-prazdnik-fizkult-ura-v-balakirevo-2368</link>
            <description> 

                12 августа 2019 года на базе государственного бюджетного учреждения социального обслуживания «Балакиревский психоневрологический интернат»  в рамках проекта «Активное долголетие» состоялось спортивное мероприятие в честь Дня физкультурника «Физк...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sportivnyy-prazdnik-fizkult-ura-v-balakirevo-2368</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Спорт</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/c2/c2635700d449313fb2fd42d2eaa0d8aa_977_954.jpeg" type="image/jpeg" length="80622"/>
            <pubDate>Tue, 13 Aug 2019 13:06:09 +0300</pubDate>
        </item>
        <item>
            <title>Рекорд в плавании Сергея Сафонова.</title>
            <link>https://nash-aleksandrov.ru/novosti/rekord-v-plavanii-sergeya-safonova-2367</link>
            <description>Владимирец создал бизнес, который не пойдет ко дну


                COFFEE TV


                19:00, 12 августа 2019


                 792
                 
                 10
                 
                 0
                 
                 0


                Поделиться:


                 
                 
                1
                 


                Сергей Сафонов из Владимира в одиночку проплыл 25 километров в Финском зал...</description>
            <guid>https://nash-aleksandrov.ru/novosti/rekord-v-plavanii-sergeya-safonova-2367</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Спорт</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/4a/4aee1631addb20715fc9404d49a13571_292_68.jpeg" type="image/jpeg" length="94824"/>
            <pubDate>Tue, 13 Aug 2019 12:58:33 +0300</pubDate>
        </item>
        <item>
            <title>Юная шахматистка из Владимира привезла «бронзу» с первенства Европы в Словакии</title>
            <link>https://nash-aleksandrov.ru/novosti/yunaya-shakhmatistka-iz-vladimira-privezla-bronzu-s-pervenstva-evropy-v-slovakii-2366</link>
            <description> 

                Диана Преображенская заняла третье место среди девочек до 8 лет

                Первенство Европы среди детей и молодежи до 18 лет проходило в столице Словакии Братиславе со 2 по 10 августа 2019 года. В российской сборной, в составе которой выступала владими...</description>
            <guid>https://nash-aleksandrov.ru/novosti/yunaya-shakhmatistka-iz-vladimira-privezla-bronzu-s-pervenstva-evropy-v-slovakii-2366</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Спорт</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/03/03b346cc4d55642864ec984c8ca30912_938_220.jpeg" type="image/jpeg" length="130745"/>
            <pubDate>Tue, 13 Aug 2019 12:00:12 +0300</pubDate>
        </item>
        <item>
            <title>«Черные кредиторы» во Владимире: кто это такие и как не стать их жертвой</title>
            <link>https://nash-aleksandrov.ru/novosti/chernye-kreditory-vo-vladimire-kto-eto-takie-i-kak-ne-stat-ikh-zhertvoy-2364</link>
            <description> 

                Во Владимирской области за первое полугодие 2019 года выявлено 10 «черных кредиторов». Что нужно знать, чтобы мошенники не завладели вашей квартирой?

                Центробанк сообщает о выявлении на территории Владимирской области 10 нелегальных кредиторов...</description>
            <guid>https://nash-aleksandrov.ru/novosti/chernye-kreditory-vo-vladimire-kto-eto-takie-i-kak-ne-stat-ikh-zhertvoy-2364</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/12/12ffd4b9b49c26408a2b1ee5f7cc4959_587_760.jpeg" type="image/jpeg" length="367440"/>
            <pubDate>Tue, 13 Aug 2019 11:53:45 +0300</pubDate>
        </item>
        <item>
            <title>Сделки с недвижимостью только с письменного согласия владельца недвижимости.</title>
            <link>https://nash-aleksandrov.ru/novosti/sdelki-s-nedvizhimostyu-tolko-s-pismennogo-soglasiya-vladeltsa-nedvizhimosti-2363</link>
            <description>Подпись надо подтвердить

                Если человек хочет продать свою квартиру, дом или дачу, не вставая с дивана, то с 13 августа 2019 года совершить полностью дистанционную сделку у него уже не получится.

                Во вторник вступает в силу закон, регулирующий пор...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sdelki-s-nedvizhimostyu-tolko-s-pismennogo-soglasiya-vladeltsa-nedvizhimosti-2363</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/70/7061cd7fa8f6a992cce30fd77b66bb1b_606_101.jpeg" type="image/jpeg" length="96174"/>
            <pubDate>Tue, 13 Aug 2019 11:46:15 +0300</pubDate>
        </item>
        <item>
            <title>На планерке у главы районной  Администрации 12 августа 2019 года.</title>
            <link>https://nash-aleksandrov.ru/novosti/na-planerke-u-glavy-rayonnoy-administratsii-12-avgusta-2019-goda-2362</link>
            <description> 

                Очередную планерку глава администрации района начал с вопроса о том, как идет подготовка ко Дню города, который состоится 24 августа. А.Н. Дудоров признался, что это будет первое крупное событие для него и его команды, поэтому празднику уделяетс...</description>
            <guid>https://nash-aleksandrov.ru/novosti/na-planerke-u-glavy-rayonnoy-administratsii-12-avgusta-2019-goda-2362</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/5d/5d72471cb7dfe4cccbf920a0b0a676fa_619_858.jpeg" type="image/jpeg" length="118362"/>
            <pubDate>Tue, 13 Aug 2019 11:37:01 +0300</pubDate>
        </item>
        <item>
            <title>Вбросов не будет. Будут перебои в сознании и в совести?</title>
            <link>https://nash-aleksandrov.ru/novosti/vbrosov-ne-budet-budut-pereboi-v-soznanii-i-v-sovesti-2361</link>
            <description>Лишь бы не было перебоев в сознании

                Сегодня начинается первая общесистемная тренировка по использованию Государственной автоматизированной системы РФ «Выборы» во время подготовки и проведения выборов 8 сентября 2019 года. Для Владимирской области...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vbrosov-ne-budet-budut-pereboi-v-soznanii-i-v-sovesti-2361</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/90/9082fbd1beece18704258c4a60822f89_601_549.jpeg" type="image/jpeg" length="47580"/>
            <pubDate>Tue, 13 Aug 2019 11:28:12 +0300</pubDate>
        </item>
        <item>
            <title>Добрый день, Александровцы</title>
            <link>https://nash-aleksandrov.ru/novosti/dobryy-den-aleksandrovtsy-2359</link>
            <description>Праздники и события в этот день.

                Международный день левшей
                Большинство людей на планете считаются правшами, и только небольшая часть населения планеты выполняет многие операции, в том числе и письмо, левой рукой.

                Ранее в советских школах дете...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dobryy-den-aleksandrovtsy-2359</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/7e/7e0cdfd5f84f826e7f02890f30560ac1_421_967.jpeg" type="image/jpeg" length="3908282"/>
            <pubDate>Tue, 13 Aug 2019 11:11:13 +0300</pubDate>
        </item>
        <item>
            <title>Умоляю,ради Бога, тише!</title>
            <link>https://nash-aleksandrov.ru/novosti/umolyayuradi-boga-tishe-2358</link>
            <description>Во Владимирской области исчезает горлица.

                Союз охраны птиц России объявил птицей 2019 года обыкновенную горлицу. Что за птичка такая? Почему орнитологи уделили ей особое внимание? Дело в том, что с конца XX века этот вид стремительно пропадает. В...</description>
            <guid>https://nash-aleksandrov.ru/novosti/umolyayuradi-boga-tishe-2358</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/b7/b780127c8e848f4cf41d1518170bdf71_340_421.jpeg" type="image/jpeg" length="133261"/>
            <pubDate>Mon, 12 Aug 2019 17:57:31 +0300</pubDate>
        </item>
        <item>
            <title>Художников Александровского района приглашают к участию на выставке</title>
            <link>https://nash-aleksandrov.ru/novosti/khudozhnikov-aleksandrovskogo-rayona-priglashayut-k-uchastiyu-na-vystavke-2357</link>
            <description>Александровские Вести

                Приглашаем художников города Александрова и Александровского района, как профессиональных, так и нет, принять участие в традиционной ежегодной XXVII выставке "Душа родного края". Работы принимаются в выставочном зале Александ...</description>
            <guid>https://nash-aleksandrov.ru/novosti/khudozhnikov-aleksandrovskogo-rayona-priglashayut-k-uchastiyu-na-vystavke-2357</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/04/045486735685adaf83b794331141a53b_418_169.jpeg" type="image/jpeg" length="325424"/>
            <pubDate>Mon, 12 Aug 2019 17:41:48 +0300</pubDate>
        </item>
        <item>
            <title>План Даллеса согласуется с "придумкой" Маргарет Тетчер</title>
            <link>https://nash-aleksandrov.ru/novosti/plan-dallesa-soglasuetsya-s-pridumkoy-margaret-tetcher-2356</link>
            <description>Лишних людей придумала Маргарет Тэтчер


                Колледжи и техникумы прекратят обучение по более чем ста профессиям и специальностям. Они просто устарели, изменились или не нужны, заявила министр просвещения Ольга Васильева. В список исчезающих включены...</description>
            <guid>https://nash-aleksandrov.ru/novosti/plan-dallesa-soglasuetsya-s-pridumkoy-margaret-tetcher-2356</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/dd/dddfc103b720e4e3f1299aae5f44376e_301_438.jpeg" type="image/jpeg" length="130145"/>
            <pubDate>Mon, 12 Aug 2019 17:37:29 +0300</pubDate>
        </item>
        <item>
            <title>Началось. Прямой "наезд" на Сипягина.</title>
            <link>https://nash-aleksandrov.ru/novosti/nachalos-pryamoy-naezd-na-sipyagina-2355</link>
            <description>«Анонимность листовок против Сипягина говорит о том, что авторы не уверены в фактах» ㄧ Сергей Казаков

                Депутат ЗС прокомментировал вбросы листовок против команды губернатора региона-33

                В минувшее воскресенье жители Владимира обнаружили в почтов...</description>
            <guid>https://nash-aleksandrov.ru/novosti/nachalos-pryamoy-naezd-na-sipyagina-2355</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/f6/f6351fc617942f12ca844fbab7c657d6_549_61.jpeg" type="image/jpeg" length="176500"/>
            <pubDate>Mon, 12 Aug 2019 17:29:14 +0300</pubDate>
        </item>
        <item>
            <title>Ребята пьют, но "дело" знают: как уральский поселок пропил свой шанс на светлое будущее.</title>
            <link>https://nash-aleksandrov.ru/novosti/rebyata-pyut-no-delo-znayut-kak-uralskiy-poselok-propil-svoy-shans-na-svetloe-budushchee-2354</link>
            <description>«Скорей бы тут китайцы все выкупили». Как один уральский поселок пропил свой шанс на лучшее будущее

                Успешный уральский предприниматель отчаялся найти трезвых местных работников и закрыл бизнес

                Свой первый капитал Иван Миртов заработал в Америке...</description>
            <guid>https://nash-aleksandrov.ru/novosti/rebyata-pyut-no-delo-znayut-kak-uralskiy-poselok-propil-svoy-shans-na-svetloe-budushchee-2354</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/7a/7aa02597d1cfac3c5b8ec067cfac7feb_910_458.jpeg" type="image/jpeg" length="267310"/>
            <pubDate>Mon, 12 Aug 2019 17:22:40 +0300</pubDate>
        </item>
        <item>
            <title>Урок по профориентации прошел в Центре занятости населения.</title>
            <link>https://nash-aleksandrov.ru/novosti/urok-po-proforientatsii-proshel-v-tsentre-zanyatosti-naseleniya-2353</link>
            <description> 

                8 августа 2019 года инспектором-психологом отдела профориентации и профессионального обучения ГКУ ВО «ЦЗН города Александрова» совместно с директором МБУ ДО "Детский оздоровительно-образовательный центр туризма, краеведения и экскурсий" Подгорно...</description>
            <guid>https://nash-aleksandrov.ru/novosti/urok-po-proforientatsii-proshel-v-tsentre-zanyatosti-naseleniya-2353</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/9e/9ec3f3f0177052b23ef8ec4c42e0eb92_319_954.jpeg" type="image/jpeg" length="65979"/>
            <pubDate>Mon, 12 Aug 2019 17:06:19 +0300</pubDate>
        </item>
        <item>
            <title>"Лаборатория безопасности" в детском лагере "Солнечный"</title>
            <link>https://nash-aleksandrov.ru/novosti/laboratoriya-bezopasnosti-v-detskom-lagere-solnechnyy-2351</link>
            <description>В детском оздоровительном лагере «Солнечный» в Александровском районе сотрудники полиции провели мероприятие, направленное на профилактику детского дорожно-транспортного травматизма.

                Увлекательное занятие прошло на базе мобильного комплекса «Лабор...</description>
            <guid>https://nash-aleksandrov.ru/novosti/laboratoriya-bezopasnosti-v-detskom-lagere-solnechnyy-2351</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d0/d04abf27df2499d1aaa1554cc60281ca_545_961.jpeg" type="image/jpeg" length="419554"/>
            <pubDate>Mon, 12 Aug 2019 16:14:52 +0300</pubDate>
        </item>
        <item>
            <title>Из Александрова в Европу на велосипеде.</title>
            <link>https://nash-aleksandrov.ru/novosti/iz-aleksandrova-v-evropu-na-velosipede-2350</link>
            <description>Из Александрова в Европу на велосипеде


                Александр Харитонов решил покорить Европу на велосипеде. Для своего проекта «Европейское велопутешествие» он создал блог www.velokrugosvetka.com, в котором намерен знакомить читателей с этапами своих европе...</description>
            <guid>https://nash-aleksandrov.ru/novosti/iz-aleksandrova-v-evropu-na-velosipede-2350</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Спорт</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/78/78fe452771d565db987566d9e8e5bffe_303_272.jpeg" type="image/jpeg" length="105365"/>
            <pubDate>Mon, 12 Aug 2019 15:35:13 +0300</pubDate>
        </item>
        <item>
            <title>Письмо от нашего читателя: "Следите за своей речью"</title>
            <link>https://nash-aleksandrov.ru/novosti/pismo-ot-nashego-chitatelya-sledite-za-svoey-rechyu-2349</link>
            <description>НЕЙРОХИРУРГИЯ О ЯЗЫКЕ
                Oдин из ведущих нейрохирургов, который занимается различными медицинскими наблюдениями во время операции мозга утверждает, что центр речи в мозге господствует над всеми прочими нервами.
                - Язык - это маленькая часть нашего тела...</description>
            <guid>https://nash-aleksandrov.ru/novosti/pismo-ot-nashego-chitatelya-sledite-za-svoey-rechyu-2349</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d2/d20fb160990ac73112284751d6ffe1c9_176_89.jpeg" type="image/jpeg" length="400983"/>
            <pubDate>Mon, 12 Aug 2019 14:50:03 +0300</pubDate>
        </item>
        <item>
            <title>Сотрудники ООО ЧОО "ЩИТ" награждены Почетными грамотами ОМВД Росии по Александровскому району</title>
            <link>https://nash-aleksandrov.ru/novosti/sotrudniki-ooo-choo-shchit-nagrazhdeny-pochetnymi-gramotami-omvd-rosii-po-aleksandrovskomu-rayonu-2348</link>
            <description>9 августа 2019 года сотрудники ООО ЧОО "ЩИТ" Иванченко Сергей Викторович и Васильев Михаил Сергеевич были награждены почетными грамотами ОМВД России по Александровскому району за помощь, оказанную в раскрытии преступления. 26.05.19 года

                . Группой ...</description>
            <guid>https://nash-aleksandrov.ru/novosti/sotrudniki-ooo-choo-shchit-nagrazhdeny-pochetnymi-gramotami-omvd-rosii-po-aleksandrovskomu-rayonu-2348</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/bc/bc5cba10b31fcf67ac8fbc16d3d1d152_683_470.jpeg" type="image/jpeg" length="4549109"/>
            <pubDate>Mon, 12 Aug 2019 14:38:14 +0300</pubDate>
        </item>
        <item>
            <title>Добрый день, дорогие Александровцы.</title>
            <link>https://nash-aleksandrov.ru/novosti/dobryy-den-dorogie-aleksandrovtsy-2347</link>
            <description>12 августа, понедельник,  Праздники и события в этот день

                День ВВС (День Военно-воздушных сил)

                Период после распада Советского Союза был угнетающим и тяжелым как для народа, так и для промышленности.

                Международный день молодежи

                Современна...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dobryy-den-dorogie-aleksandrovtsy-2347</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/7e/7e0cdfd5f84f826e7f02890f30560ac1_421_967.jpeg" type="image/jpeg" length="3908282"/>
            <pubDate>Mon, 12 Aug 2019 14:30:44 +0300</pubDate>
        </item>
        <item>
            <title>Женщина в должности дворника задолжала 2 млрд рублей.</title>
            <link>https://nash-aleksandrov.ru/novosti/zhenshchina-v-dolzhnosti-dvornika-zadolzhala-2-mlrd-rubley-2339</link>
            <description>Омбудсмен объяснила, как у дворника появился долг в 2 млрд рублей

                Приставы пытаются взыскать долг в 2 млрд рублей с жительницы подмосковного Воскресенска, которая работает в местном ЖКХ дворником за 15 тысяч рублей в месяц. Как сообщалось ранее, ж...</description>
            <guid>https://nash-aleksandrov.ru/novosti/zhenshchina-v-dolzhnosti-dvornika-zadolzhala-2-mlrd-rubley-2339</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <pubDate>Sun, 11 Aug 2019 16:34:43 +0300</pubDate>
        </item>
        <item>
            <title>Новости Сергиев Посада: Директор УК мстит ветерану за перерасчет?</title>
            <link>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-direktor-uk-mstit-veteranu-za-pereraschet-2338</link>
            <description>Четыре месяца тому назад я провел небольшое расследование на тему коммунальных платежей. И пришел к выводу, что жильцы домов, находящихся в управлении НКС, переплачивают за отопление, минимум, 11% сверх утвержденного тарифа.

                Моя публикация на сайт...</description>
            <guid>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-direktor-uk-mstit-veteranu-za-pereraschet-2338</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/d2/d24f10957b00c457b00d984b4586f298_683_844.jpeg" type="image/jpeg" length="1479878"/>
            <pubDate>Sun, 11 Aug 2019 10:13:22 +0300</pubDate>
        </item>
        <item>
            <title>Им наплевать на заповедные уголки.</title>
            <link>https://nash-aleksandrov.ru/novosti/im-naplevat-na-zapovednye-ugolki-2337</link>
            <description>Платное шоссе проложат по непонятной для людей логике

                Автодор ответил жителям Владимирской области, выражающим недовольство из-за того, что новая платная автодорога «Москва - Казань» пройдет по заповедной пойме реки Клязьма

                Авторы одной из мног...</description>
            <guid>https://nash-aleksandrov.ru/novosti/im-naplevat-na-zapovednye-ugolki-2337</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/bf/bf600e0fdff1a8a87160267d6500e7d4_767_373.jpeg" type="image/jpeg" length="184501"/>
            <pubDate>Sun, 11 Aug 2019 09:43:55 +0300</pubDate>
        </item>
        <item>
            <title>В День деревни Бухары, 10 августа</title>
            <link>https://nash-aleksandrov.ru/novosti/v-den-derevni-bukhary-10-avgusta-2336</link>
            <description>.

                Александровские Вести

                БОЛЬШОЙ РОССИИ МАЛЫЙ УГОЛОК
                Историческая справка: деревня Бухары расположена в 5 км на юго-запад от села Большое Каринское и в 10 км от города Александров. В XIX начале XX века населенный пункт входил в состав Александр...</description>
            <guid>https://nash-aleksandrov.ru/novosti/v-den-derevni-bukhary-10-avgusta-2336</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/5d/5d6ad674fecbdc53f8bbd842a82d0cdf_837_463.jpeg" type="image/jpeg" length="169919"/>
            <pubDate>Sun, 11 Aug 2019 09:37:41 +0300</pubDate>
        </item>
        <item>
            <title>С Добрым солнечным утром, Александровцы!</title>
            <link>https://nash-aleksandrov.ru/novosti/s-dobrym-solnechnym-utrom-aleksandrovtsy-2335</link>
            <description>11 августа, воскресенье, Праздники и события в этот день. 

                Калинник

                Православный календарь полон важных религиозных торжеств, отмечаемых христианами и католиками по всему миру. Одна из них празднуется 11 августа, когда поминается память Киликий...</description>
            <guid>https://nash-aleksandrov.ru/novosti/s-dobrym-solnechnym-utrom-aleksandrovtsy-2335</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/a9/a948f6ad3d4285a0d3eb2f682e2dd360_71_60.jpeg" type="image/jpeg" length="89468"/>
            <pubDate>Sun, 11 Aug 2019 09:25:07 +0300</pubDate>
        </item>
        <item>
            <title>Ползучий саботаж по мусорной реформе во Владимирской области</title>
            <link>https://nash-aleksandrov.ru/novosti/polzuchiy-sabotazh-po-musornoy-reforme-vo-vladimirskoy-oblasti-2334</link>
            <description>Мусорная реформа: на те же грабли

                В администрации области сегодня в очередной раз не состоялась процедура вскрытия конвертов по выбору регионального оператора по работе с мусором. На этот раз - по зоне № 1.

                Напомним, в неё входят Александровски...</description>
            <guid>https://nash-aleksandrov.ru/novosti/polzuchiy-sabotazh-po-musornoy-reforme-vo-vladimirskoy-oblasti-2334</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/91/9153b4348c8704427ca24578a41d3bb3_739_646.jpeg" type="image/jpeg" length="139352"/>
            <pubDate>Sat, 10 Aug 2019 18:23:50 +0300</pubDate>
        </item>
        <item>
            <title>Вам шашечки или ехать?</title>
            <link>https://nash-aleksandrov.ru/novosti/vam-shashechki-ili-ekhat-2333</link>
            <description> 

                Шашечки и не ехать: рынок такси в ожидании худшего

                Сейчас в России нет отдельного закона, который бы регулировал работу такси. Все правила сосредоточены в разных нормативно-правовых документах. В конце июля в законопроект, который должен урег...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vam-shashechki-ili-ekhat-2333</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/89/8975196e09b1e02ced722524d043856e_547_20.jpeg" type="image/jpeg" length="358800"/>
            <pubDate>Sat, 10 Aug 2019 18:14:32 +0300</pubDate>
        </item>
        <item>
            <title>Станет ли Александр Беглов верховным казачьим атаманом?</title>
            <link>https://nash-aleksandrov.ru/novosti/stanet-li-aleksandr-beglov-verkhovnym-kazachim-atamanom-2331</link>
            <description>Путина попросили назначить Беглова верховным казачьим атаманом

                Александра Беглова надо быстрее сделать генерал-губернатором и верховным атаманом, пока московское «протестное пожарище» не дошло до Петербурга, уверены участники движения «Национальны...</description>
            <guid>https://nash-aleksandrov.ru/novosti/stanet-li-aleksandr-beglov-verkhovnym-kazachim-atamanom-2331</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/41/41ceacb7dda6232211a8c90d07ede7be_750_392.jpeg" type="image/jpeg" length="77103"/>
            <pubDate>Sat, 10 Aug 2019 16:54:11 +0300</pubDate>
        </item>
        <item>
            <title>Соберем подарки для нуждающихся в помощи детей</title>
            <link>https://nash-aleksandrov.ru/novosti/soberem-podarki-dlya-nuzhdayushchikhsya-v-pomoshchi-detey-2330</link>
            <description>«Школьный портфель-2019»

                Владимирское отделение Российского детского фонда собирает подарки для нуждающихся в помощи детей, чтобы достойно подготовить их к новому учебному году

                Владимирское отделение Российского детского фонда запустило акцию «...</description>
            <guid>https://nash-aleksandrov.ru/novosti/soberem-podarki-dlya-nuzhdayushchikhsya-v-pomoshchi-detey-2330</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/25/25e2d78231730e09b31c7ffa03ceb189_418_55.jpeg" type="image/jpeg" length="230404"/>
            <pubDate>Sat, 10 Aug 2019 16:42:55 +0300</pubDate>
        </item>
        <item>
            <title>Фестиваль меда в Юрьев-Польском районе</title>
            <link>https://nash-aleksandrov.ru/novosti/festival-meda-v-yurev-polskom-rayone-2329</link>
            <description>.

                Александровские Вести

                Как всегда, в начале августа 10 числа, ставший уже традиционным фестиваль Мёда в селе Леднево Юрьев-Польского района на 57 км от Владимира. 
                Вкусно от #папашеф... Замечательно и очень круто проведёте этот выходной. Конц...</description>
            <guid>https://nash-aleksandrov.ru/novosti/festival-meda-v-yurev-polskom-rayone-2329</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/5d/5d58883b301da9ae30cdca526e1876bf_463_623.jpeg" type="image/jpeg" length="116910"/>
            <pubDate>Sat, 10 Aug 2019 16:35:05 +0300</pubDate>
        </item>
        <item>
            <title>Здоровый дух  есть следствие здорового тела?</title>
            <link>https://nash-aleksandrov.ru/novosti/zdorovyy-dukh-est-sledstvie-zdorovogo-tela-2328</link>
            <description>В ЗДОРОВОМ ТЕЛЕ – ЗДОРОВЫЙ ДУХ

                Если задать вопрос о том, откуда пошло крылатое выражение «В здоровом теле – здоровый дух», то собеседник, не раздумывая, припишет авторство графу Суворову. Вспомнит веселую историю, как генералиссимус учил уму-разум...</description>
            <guid>https://nash-aleksandrov.ru/novosti/zdorovyy-dukh-est-sledstvie-zdorovogo-tela-2328</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Спорт</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/fc/fcc47576fb952b74550a9d255f1eea93_615_326.jpeg" type="image/jpeg" length="247796"/>
            <pubDate>Sat, 10 Aug 2019 15:58:35 +0300</pubDate>
        </item>
        <item>
            <title>Проблемы у селян были и будут.</title>
            <link>https://nash-aleksandrov.ru/novosti/problemy-u-selyan-byli-i-budut-2327</link>
            <description>А ПРОБЛЕМЫ У СЕЛЯН ЕСТЬ

                В этом еще раз убедился глава администрации района А.Н. Дудоров на встрече, которая согласно разработанному графику, состоялась в дер. Следнево. Кроме руководителя района во встрече участвовали заместитель главы администрац...</description>
            <guid>https://nash-aleksandrov.ru/novosti/problemy-u-selyan-byli-i-budut-2327</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Политика</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/8a/8a17d3427d7bff4c29e6481b300b9f9b_317_158.jpeg" type="image/jpeg" length="217165"/>
            <pubDate>Sat, 10 Aug 2019 15:51:39 +0300</pubDate>
        </item>
        <item>
            <title>Глава администрации района снова в Большом Каринском.</title>
            <link>https://nash-aleksandrov.ru/novosti/glava-administratsii-rayona-snova-v-bolshom-karinskom-2325</link>
            <description>Ремонт дорог, вопросы медицины, водо и электроснабжение – эти и другие темы обсуждались на встрече главы администрации района А.Н. Дудорова с населением дер. Б. Каринское. Кроме Александра Николаевича в разговоре с людьми участвовали глава администра...</description>
            <guid>https://nash-aleksandrov.ru/novosti/glava-administratsii-rayona-snova-v-bolshom-karinskom-2325</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/17/172d56b475aa0e2f2ce2ca290867f699_192_356.jpeg" type="image/jpeg" length="216218"/>
            <pubDate>Sat, 10 Aug 2019 10:41:35 +0300</pubDate>
        </item>
        <item>
            <title>Народные приметы на 10 августа – Прохоры-Пармены</title>
            <link>https://nash-aleksandrov.ru/novosti/narodnye-primety-na-10-avgusta-prokhory-parmeny-2324</link>
            <description> 

                Христиане 10 августа вспоминают Пармена и Прохора, апостолов из семидесяти. Они и еще пятеро были выбраны из учеников Христа для решения бытовых вопросов братства.

                Прохор сначала проповедовал вместе с апостолом Петром, а после стал учеником И...</description>
            <guid>https://nash-aleksandrov.ru/novosti/narodnye-primety-na-10-avgusta-prokhory-parmeny-2324</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/47/472cb87cd702643c079f27be462354f3_358_527.jpeg" type="image/jpeg" length="16268"/>
            <pubDate>Sat, 10 Aug 2019 10:31:11 +0300</pubDate>
        </item>
        <item>
            <title>Доброе утро, Александровцы.</title>
            <link>https://nash-aleksandrov.ru/novosti/dobroe-utro-aleksandrovtsy-2323</link>
            <description>10 августа, суббота, Праздники и события в этот день.

                День физкультурника в России

                Успешное государство - это здоровые граждане, составляющие будущее страны. Для того, чтобы поддерживать уровень здоровья, необходимо не только правильно и полноц...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dobroe-utro-aleksandrovtsy-2323</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/db/db83899db2e8d9b0c2fa826f8e966ae0_142_139.jpeg" type="image/jpeg" length="372977"/>
            <pubDate>Sat, 10 Aug 2019 10:18:54 +0300</pubDate>
        </item>
        <item>
            <title>Струнинцы готовят пикеты у Минздрава</title>
            <link>https://nash-aleksandrov.ru/novosti/strunintsy-gotovyat-pikety-u-minzdrava-2322</link>
            <description> 

                Струнинские активисты намерены поехать в столицу. Одиночные пикеты у стен Министерства здравоохранения в Москве планируют провести на следующей неделе. Об этом "Вестям" сообщила Ирина Бандалак - председатель вневедомственной комиссии города Стру...</description>
            <guid>https://nash-aleksandrov.ru/novosti/strunintsy-gotovyat-pikety-u-minzdrava-2322</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <pubDate>Fri, 09 Aug 2019 19:53:12 +0300</pubDate>
        </item>
        <item>
            <title>Владимирские мусульмане готовятся к празднику Курбан-байрам</title>
            <link>https://nash-aleksandrov.ru/novosti/vladimirskie-musulmane-gotovyatsya-k-prazdniku-kurban-bayram-2321</link>
            <description> 

                Мусульманка Раиса Зарипова вместе с мужем готовится к национальному празднику курбан-байрам. В этом году он выпал на воскресенье, 11 августа. Для праздничного стола выпекают перемячи, чак-чак и хворост — все своими руками и с душой.


                — Это п...</description>
            <guid>https://nash-aleksandrov.ru/novosti/vladimirskie-musulmane-gotovyatsya-k-prazdniku-kurban-bayram-2321</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/26/265f3d50a0d6f973a3200e33e990de70_156_848.jpeg" type="image/jpeg" length="150414"/>
            <pubDate>Fri, 09 Aug 2019 19:43:44 +0300</pubDate>
        </item>
        <item>
            <title>Новости Сергиев Посада: "Озверевшие от беспредела добились своего"</title>
            <link>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ozverevshie-ot-bespredela-dobilis-svoego-2320</link>
            <description> 

                 

                Друзья, берите пример с жителей Сергиева Посада из домов 59 и 61 по Новоугличскому шоссе. Их жилищно-строительный кооператив "Дружба" попытались рейдерским способом захватить чиновники из МБУ "Благоустройство", о чем мы с Андреем Мардасовым...</description>
            <guid>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ozverevshie-ot-bespredela-dobilis-svoego-2320</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <pubDate>Fri, 09 Aug 2019 19:36:30 +0300</pubDate>
        </item>
        <item>
            <title>Руки прочь от активистки Татьяны Гусевой!</title>
            <link>https://nash-aleksandrov.ru/novosti/ruki-proch-ot-aktivistki-tatyany-gusevoy-2319</link>
            <description>Известная активистка Татьяна Гусева станет кандидатом в депутаты по суду

                Киржачский районный суд обязал местный избирком немедленно зарегистрировать активистку Татьяну Гусеву кандидатом в депутаты райсовета 

                Суд обязал территориальную избирател...</description>
            <guid>https://nash-aleksandrov.ru/novosti/ruki-proch-ot-aktivistki-tatyany-gusevoy-2319</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/bd/bd0f03ec352d15fdf4992ca091f85eff_493_796.jpeg" type="image/jpeg" length="500033"/>
            <pubDate>Fri, 09 Aug 2019 18:48:15 +0300</pubDate>
        </item>
        <item>
            <title>Новости Сергиев Посада: "РАТНИКИ" - историческая реконструкция</title>
            <link>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ratniki-istoricheskaya-rekonstruktsiya-2318</link>
            <description>Администрация Сергиево-Посадского района и агентство исторических проектов «Ратоборцы» приглашает всех на исторический фестиваль «Ратники Преподобного Сергия», посвященный истории объединения русских земель, что послужило одной из важнейших вех в соз...</description>
            <guid>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ratniki-istoricheskaya-rekonstruktsiya-2318</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Культура</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/e1/e1ef95067d72f0515f7d8f36e960964e_507_261.jpeg" type="image/jpeg" length="263422"/>
            <pubDate>Fri, 09 Aug 2019 17:45:20 +0300</pubDate>
        </item>
        <item>
            <title>Несмотря на непогоду.</title>
            <link>https://nash-aleksandrov.ru/novosti/nesmotrya-na-nepogodu-2316</link>
            <description>Сегодня А.Н. Дудоров, как и обещал, несмотря на непогоду, провел выездное совещание в больнице г. Карабаново 
                В свой прошлый визит он дал ряд протокольных поручений, и вот, приехал проверить исполнение. Проверка длилась более часа. Глава администрац...</description>
            <guid>https://nash-aleksandrov.ru/novosti/nesmotrya-na-nepogodu-2316</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/44/44724cd0cfd6a578ef6edd3b6131ca90_949_951.jpeg" type="image/jpeg" length="240840"/>
            <pubDate>Fri, 09 Aug 2019 16:13:09 +0300</pubDate>
        </item>
        <item>
            <title>О правилах служебного поведения полицейских.</title>
            <link>https://nash-aleksandrov.ru/novosti/o-pravilakh-sluzhebnogo-povedeniya-politseyskikh-2315</link>
            <description>Член Общественного совета при ОМВД России по Александровскому району Фаниль Ахметшанович Девликамов принял участие в занятии по служебной подготовке сотрудников Отдела, прошедшем в рамках единого дня государственного правового информирования.

                В хо...</description>
            <guid>https://nash-aleksandrov.ru/novosti/o-pravilakh-sluzhebnogo-povedeniya-politseyskikh-2315</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_661_425.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Fri, 09 Aug 2019 16:09:02 +0300</pubDate>
        </item>
        <item>
            <title>Эксперты предрекают банкротство многим строительным компаниям.</title>
            <link>https://nash-aleksandrov.ru/novosti/eksperty-predrekayut-bankrotstvo-mnogim-stroitelnym-kompaniyam-2314</link>
            <description>Рынок жилья переформатируется из-за гарантий дольщикам

                Строительную отрасль Владимирской области лихорадит с запуском проектного финансирования строительства жилья и изменением отношений дольщиков и застройщиков. Темпы строительства жилья уже заме...</description>
            <guid>https://nash-aleksandrov.ru/novosti/eksperty-predrekayut-bankrotstvo-mnogim-stroitelnym-kompaniyam-2314</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/8f/8f45e421f1e4fc493f9ceeb5d0fe17a8_923_774.jpeg" type="image/jpeg" length="49543"/>
            <pubDate>Fri, 09 Aug 2019 15:07:35 +0300</pubDate>
        </item>
        <item>
            <title>Ударил по лицу, похитил имущество и скрылся.</title>
            <link>https://nash-aleksandrov.ru/novosti/udaril-po-litsu-pokhitil-imushchestvo-i-skrylsya-2313</link>
            <description>Следственным отделом ОМВД России по Александровскому району возбуждено уголовное дело в отношении 24-летнего жителя города Струнино. Молодой человек подозревается в совершении преступления, предусмотренного ч.2 ст. 161 УК РФ (грабеж).

                Установлено,...</description>
            <guid>https://nash-aleksandrov.ru/novosti/udaril-po-litsu-pokhitil-imushchestvo-i-skrylsya-2313</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/85/8572bf248b1db7fdec509a359ffb6df5_661_425.jpeg" type="image/jpeg" length="139056"/>
            <pubDate>Fri, 09 Aug 2019 14:56:54 +0300</pubDate>
        </item>
        <item>
            <title>Компенсация за повреждение автомобиля упавшим деревом</title>
            <link>https://nash-aleksandrov.ru/novosti/kompensatsiya-za-povrezhdenie-avtomobilya-upavshim-derevom-2311</link>
            <description>Владимирец получит компенсацию за упавшее на машину дерево: как отсудить у муниципалитета крупную сумму

                Во Владимире мужчина через суд добился серьезной денежной компенсации от муниципальной компании «Благоустройство» за то, что упавшее аварийное...</description>
            <guid>https://nash-aleksandrov.ru/novosti/kompensatsiya-za-povrezhdenie-avtomobilya-upavshim-derevom-2311</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Безопасность</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/4d/4db771bcfc4ee7c3565782299db488b3_302_663.jpeg" type="image/jpeg" length="277000"/>
            <pubDate>Fri, 09 Aug 2019 13:27:34 +0300</pubDate>
        </item>
        <item>
            <title>Профессиональное обучение в центре занятости в 2019 году</title>
            <link>https://nash-aleksandrov.ru/novosti/professionalnoe-obuchenie-v-tsentre-zanyatosti-v-2019-godu-2310</link>
            <description> 

                     Государственное казенное учреждение Владимирской области «Центр занятости населения города Александрова» предоставляет государственную услугу по профессиональному обучению  граждан, идет набор в группы  на обучение по профессиям:

                - опера...</description>
            <guid>https://nash-aleksandrov.ru/novosti/professionalnoe-obuchenie-v-tsentre-zanyatosti-v-2019-godu-2310</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/9e/9ec3f3f0177052b23ef8ec4c42e0eb92_564_758.jpeg" type="image/jpeg" length="65979"/>
            <pubDate>Fri, 09 Aug 2019 13:06:44 +0300</pubDate>
        </item>
        <item>
            <title>Мастер-класс "Ратник" в центре ремесел</title>
            <link>https://nash-aleksandrov.ru/novosti/master-klass-ratnik-v-tsentre-remesel-2309</link>
            <description>Этих симпатичных и неунывающих ратников создали юные художники Центра ремесел. Наше занятие было посвящено битве на Каринском поле. Ребята узнали о победе русского войска над польско-литовскими захватчиками и о ее значимости в истории России. Кроме т...</description>
            <guid>https://nash-aleksandrov.ru/novosti/master-klass-ratnik-v-tsentre-remesel-2309</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Образование</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/07/0749898103c6f2768209631bfeb311b3_170_702.jpeg" type="image/jpeg" length="373429"/>
            <pubDate>Fri, 09 Aug 2019 12:25:23 +0300</pubDate>
        </item>
        <item>
            <title>Добрый день, Александровцы!</title>
            <link>https://nash-aleksandrov.ru/novosti/dobryy-den-aleksandrovtsy-2308</link>
            <description>9 августа, пятница, Праздники и события в этот день.

                Пантелеймон Целитель

                9 августа (на момент принятия по Юлианскому календарю - 27 июля) церковью почитается память вифинийского Пантелеймона Целителя. Несмотря на то, что католики отказываются...</description>
            <guid>https://nash-aleksandrov.ru/novosti/dobryy-den-aleksandrovtsy-2308</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/9c/9c8f675d6f91aae63a8b14dd85dd1943_615_378.jpeg" type="image/jpeg" length="114054"/>
            <pubDate>Fri, 09 Aug 2019 12:15:30 +0300</pubDate>
        </item>
        <item>
            <title>Новости Сергиев Посада: от осинки не родятся апельсинки.</title>
            <link>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ot-osinki-ne-rodyatsya-apelsinki-2307</link>
            <description>Люди с оружием готовы защищать свой дом от захватчиков

                События, разворачивающиеся в небольшом ЖСК «Дружба» на Новоугличском шоссе всё больше начинают походить на известный фильм «Любить по-русски». Простые жители выходят защищать последнее, что у...</description>
            <guid>https://nash-aleksandrov.ru/novosti/novosti-sergiev-posada-ot-osinki-ne-rodyatsya-apelsinki-2307</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Преступления и наказания</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/31/311d69c32ac3e424af9fd5fda9ce7ac1_375_620.jpeg" type="image/jpeg" length="282290"/>
            <pubDate>Thu, 08 Aug 2019 14:12:00 +0300</pubDate>
        </item>
        <item>
            <title>"Газпром" слезам не верит</title>
            <link>https://nash-aleksandrov.ru/novosti/gazprom-slezam-ne-verit-2306</link>
            <description>Газовые долги — вина недобросовестных потребителей?


                Александровской городской прокуратурой по поручению прокуратуры Владимирской области в связи с ростом задолженности за природный газ проведена проверка в отношении предприятий-должников коммуна...</description>
            <guid>https://nash-aleksandrov.ru/novosti/gazprom-slezam-ne-verit-2306</guid>
            <author>glavred@nash-aleksandrov.ru (Виктор Заборин)</author>
            <category>Государство и люди</category>
            <enclosure url="https://nash-aleksandrov.ru/storage/files/09/096439258d4fba805ede072868fbf92b_771_95.jpeg" type="image/jpeg" length="131680"/>
            <pubDate>Thu, 08 Aug 2019 13:28:06 +0300</pubDate>
        </item>
    </channel>
</rss>